.App {
  margin: 0 auto 0 auto;
  max-width: 1370px;
  background-color: #eeeeee;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr 15px;
  gap: 24px 5px;
  padding: 40px;
}

@media screen and (max-width: 1135px) {
  .App {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 15px;
  }
}

@media screen and (max-width: 920px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 85px 1fr 70px 15px;
    padding: 12px;
  }
}

@media screen and (max-width: 450px) {
  .App {
    grid-template-rows: 150px 1fr 70px 28px;
    width: 85vw;
  }
}

.title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  color: #000000;
  margin: 0;
}

@media screen and (max-width: 1135px) {
  .title {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.4px;
  }
}

.text {
  grid-column-start: 1;
  grid-column-end: 2;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #1b191c;
}

@media screen and (max-width: 920px) {
  .text {
    margin: 0;
  }
}

.rules-text {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #1b191c;
  grid-column-start: 1;
  grid-column-end: 1;
  margin: 0;
}

.span {
  margin-left: 4px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  color: #1b191c;
}
