@font-face {
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-family: "Space Grotesk";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/SpaceGrotesk-Light.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Light.woff") format("woff");
  font-family: "Space Grotesk";
  font-weight: 300;
}
