.description__image {
  margin: 0 0 0 36px;
  max-width: 100%;
}

@media screen and (max-width: 1054px) {
  .description__image {
    max-width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .description__image {
    margin: 36px auto 0 auto;
    max-width: 100%;
  }
}
