.requirements__title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #f5f6f7;
  margin: 0 0 40px 0;
}
