.requirements {
  margin: 0px auto 80px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1370px;
}

@media screen and (max-width: 900px) {
  .requirements {
    padding: 12px;
  }
}
